.footer {
  text-align: center;
  background-color: rgb(39, 39, 39);
  padding: 60px;
}

.footer a {
  font-size: 30px;
  color: #1EDD88;
  margin: 8px;
}

.footer a:hover{
  color: #ffffff;
}

.footer p {
color: #6B6C6C;
}


.footer .fas {
  color: #BF0F12;
}
